<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>

    <link href="/css/settings.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&display=swap"
      rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/ae061cde5b.js"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid" id="somethingid">
        <a class="navbar-brand" href="/"
          >Unolingo <i class="fa-solid fa-comments"></i
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end text-bg-dark"
          tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/learn">Learn</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Settings
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <a class="dropdown-item" href="/settings"
                      >Profile Settings</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      id="logout-btn"
                      href="/auth/logout"
                      style="color: red"
                      >Log Out</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid" id="container-fluid-id">
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column mb-4" id="big_column">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne">
                  <strong>Username: <%= myUser.user_name %> </strong>
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form
                    class="settingChangeForm"
                    id="newUsername-Form"
                    action="auth/change-username"
                    method="POST">
                    <div id="changeUserName">
                      <h5>Change User Name</h5>
                      <div class="input-group has-validation">
                        <span class="input-group-text"
                          ><i class="fa-solid fa-user"></i>
                        </span>
                        <div class="form-floating is-invalid">
                          <input
                            type="text"
                            name="new_name"
                            class="form-control"
                            id="newUsername_input"
                            placeholder="Username"
                            required />
                          <label for="floatingInputGroup2"
                            >Enter new username here</label
                          >
                        </div>
                        <div class="invalid-feedback" id="userFeedback">
                          Invalid Input.
                        </div>
                      </div>
                      <div class="submit_btn">
                        <button type="submit" class="updateBtn">Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="horizontal_bar"></div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo">
                  <strong>Email: <%= myUser.user_email %></strong>
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form
                    class="settingChangeForm"
                    id="newEmail-Form"
                    action="auth/change-email"
                    method="POST">
                    <div class="input-group has-validation">
                      <span class="input-group-text"
                        ><i class="fa-solid fa-envelope"></i
                      ></span>
                      <div class="form-floating is-invalid">
                        <input
                          type="email"
                          name="new_email"
                          class="form-control"
                          id="newEmail_input"
                          placeholder="Email"
                          required />
                        <label for="floatingInputGroup2"
                          >Enter new email here</label
                        >
                      </div>
                      <div class="invalid-feedback" id="emailFeedback">
                        Invalid Email
                      </div>
                    </div>
                    <div class="submit_btn">
                      <button type="submit" class="updateBtn">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="horizontal_bar"></div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree">
                  <strong>Change Password</strong>
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form
                    class="settingChangeForm"
                    id="newPass-Form"
                    action="auth/change-password"
                    method="POST">
                    <div class="input-group has-validation">
                      <span class="input-group-text"
                        ><i class="fa-solid fa-lock"></i
                      ></span>
                      <div class="form-floating is-invalid">
                        <input
                          type="text"
                          name="oldPassword"
                          class="form-control"
                          id="oldPass_input"
                          placeholder="Old Password"
                          required />
                        <label for="floatingInputGroup2"
                          >Enter your current password here</label
                        >
                      </div>
                    </div>

                    <div class="input-group has-validation">
                      <span class="input-group-text"
                        ><i class="fa-solid fa-lock"></i
                      ></span>
                      <div class="form-floating is-invalid">
                        <input
                          type="text"
                          name="newPassword"
                          class="form-control"
                          id="newPass_input"
                          placeholder="New Password"
                          required />
                        <label for="floatingInputGroup2"
                          >Enter your new password here</label
                        >
                      </div>
                      <div class="invalid-feedback" id="passFeedback">
                        Invalid Password
                      </div>
                    </div>
                    <div class="submit_btn">
                      <button type="submit" class="updateBtn">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="horizontal_bar"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPT TO MAKE CERTAIN LESSONS INACESSIBLE ON THIS PAGE BASED ON USER SCORE-->
    <script>
      const newUserName = document.getElementById("newUsername_input");
      const newEmail = document.getElementById("newEmail_input");
      const oldPass = document.getElementById("oldPass_input");
      const newPass = document.getElementById("newPass_input");

      var userForm = document.getElementById("newUsername-Form");
      userForm.addEventListener("submit", usernameCheck);
      var emailForm = document.getElementById("newEmail-Form");
      emailForm.addEventListener("submit", emailCheck);
      var passForm = document.getElementById("newPass-Form");
      passForm.addEventListener("submit", passCheck);

      const elements = document.getElementsByClassName("invalid-feedback");
      Array.from(elements).forEach((element) => {
        element.style.visibility = "hidden";
      });

      function usernameCheck(event) {
        if (newUserName.value.length <= 4) {
          console.log(newUserName.value.length);
          userFeedback.innerHTML = "Username must be longer than 4 characters";
          userFeedback.style.visibility = "visible";
          event.preventDefault();
        } else if (newUserName.value === `<%= myUser.user_name %>`) {
          console.log(`<%= myUser.user_name %>`);
          console.log(newUserName.value);
          userFeedback.innerHTML =
            "New username cannot be the same as old username.";
          userFeedback.style.visibility = "visible";
          event.preventDefault();
        } else {
          element.style.visibility = "hidden";
        }
      }

      function passCheck(event) {
        if (oldPass.value === newPass.value) {
          console.log(oldPass.value + " and " + newPass.value);
          passFeedback.innerHTML = "New password cannot be the same as old!";
          passFeedback.style.visibility = "visible";
          event.preventDefault();
        } else {
          element.style.visibility = "hidden";
        }
      }

      function emailCheck(event) {
        if (newEmail.value === `<%= myUser.user_email %>`) {
          console.log(`<%= myUser.user_email %>`);
          console.log(newEmail.value);
          userFeedback.innerHTML = "New email cannot be the same as old email.";
          emailFeedback.style.visibility = "visible";
          event.preventDefault();
        } else {
          element.style.visibility = "hidden";
        }
      }
    </script>
  </body>
</html>
